In [2]:
import logging
import zipfile
from pathlib import Path
from datetime import datetime, date
from abc import ABC, abstractmethod

import numpy as np
import pdfplumber
import pandas as pd

import scrapper as sp


class DataReader:
    def __init__(self) -> None:
        self.data_folder = sp.Scrapper().create_or_get_folder()

    def get_file_reader(self):
        dictionary = Path(self.data_folder)

        files_by_extension = {}
        # iter over all the files in the directory
        for file in dictionary.iterdir():
            if file.is_file():
                file_extension = file.suffix.lower()
                # Checking if the extension is in the dictionary
                if file_extension in files_by_extension:
                    files_by_extension[file_extension].append(file)
                else:
                    files_by_extension[file_extension] = [file]

        return files_by_extension

    def read_zip_file(self):
        pass


class DataPreprocessor:
    def get_mkt_summary(self):
        pass

    def get_indhist(self):
        pass

    def get_omts(self):
        pass

    def get_quote(self):
        pass

    def get_open_interest(self):
        pass

In [14]:
dd = DataReader()
files_ = dd.get_file_reader()

In [15]:
files_

{'.log': [PosixPath('/Volumes/PSXDatabase/psxkoyfin/scrapper/DataWarehouse/scraper.log')],
 '.pdf': [PosixPath('/Volumes/PSXDatabase/psxkoyfin/scrapper/DataWarehouse/quote2024-01-23.pdf')],
 '.csv': [PosixPath('/Volumes/PSXDatabase/psxkoyfin/scrapper/DataWarehouse/omts2024-01-23.csv')],
 '.xls': [PosixPath('/Volumes/PSXDatabase/psxkoyfin/scrapper/DataWarehouse/indhist2024-01-23.xls'),
  PosixPath('/Volumes/PSXDatabase/psxkoyfin/scrapper/DataWarehouse/fut_opn_int2024-01-23.xls')],
 '.z': [PosixPath('/Volumes/PSXDatabase/psxkoyfin/scrapper/DataWarehouse/mkt_summary2024-01-23.Z')]}

In [17]:
import re

In [20]:
for file_ext, files in files_.items():
    for file in files:
        s_file = file.stem
        update_file = re.sub(r'[^A-Za-z_]', '', s_file)
        print(update_file)

scraper
quote
omts
indhist
fut_opn_int
mkt_summary

In [49]:
from zipfile import ZipFile

with ZipFile("/Volumes/PSXDatabase/psxkoyfin/scrapper/DataWarehouse/20240125_new (1).lis.Z", "r") as zp:
    zp.extractall("/Volumes/PSXDatabase/psxkoyfin/scrapper/DataWarehouse/")

In [52]:

fp = "/Volumes/PSXDatabase/psxkoyfin/scrapper/DataWarehouse/closing11.lis"

df = pd.read_csv(fp, sep='|', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,25JAN2024,AABS,826,Al-Abbas SugarXD,486.02,486.02,486.01,486.02,300,494.39,NaN,NaN,NaN
1,25JAN2024,ABL,807,Allied Bank Ltd,86.00,86.00,86.00,86.00,500,85.79,NaN,NaN,NaN
2,25JAN2024,ABOT,823,Abbott Lab.,430.00,430.00,425.10,425.10,2000,430.00,NaN,NaN,NaN
3,25JAN2024,ACIETF,837,Alfalah Consumer,9.81,9.81,9.81,9.81,5500,9.84,NaN,NaN,NaN
4,25JAN2024,ACPL,804,Attock Cement,97.49,98.90,96.00,97.03,136160,97.00,NaN,NaN,NaN

In [102]:
import logging, io
from tqdm import tqdm
import pandas as pd
import pdfplumber
from datetime import date

In [107]:
def open_pdf_file(file_path):
    try:
        with open(file_path, 'rb') as file:
            file_content = file.read()
        with pdfplumber.open(io.BytesIO(file_content)) as target_pdf_file:
            return target_pdf_file
    except FileNotFoundError:
        raise FileNotFoundError(f"The file {file_path} was not found.")



def extract_page_numbers(pdf_pages):
    target_table_pattern = [
        "SECTION 1: MACRO VIEW OF THE MARKET",
        "SECTION 5: BOARD MEETINGS",
        "SECTION 12: ALL SHARES INDEX REPORT (SECTOR WISE)",
        "SECTION 13: MAIN BOARD DATA FOR THE LAST 6 MONTHS",
    ]
    try:
        targeted_pages_nums = {}
        pages = pdf_pages.pages[1:]
        for page_num, page in tqdm(enumerate(pages, start=1)):
            text = page.extract_text()
            for pattern in target_table_pattern:
                if pattern in text:
                    if pattern not in targeted_pages_nums:
                        targeted_pages_nums[pattern] = []
                    targeted_pages_nums[pattern].append(page_num)

        return targeted_pages_nums
    except Exception as e:
        logging.error(f"Error Message: {e}")

def extract_macro_view(targeted_pages_nums: list, target_pdf_file) -> pd.DataFrame:
    """
    Extracts a macro view of the targeted pages from a PDF file and returns the result as a pandas DataFrame.
    """
    try:
        tables = target_pdf_file.pages[targeted_pages_nums[0] - 1].extract_table()
        loop_ending_pattern = "PUBLICLY ISSUED DEBT SECURITIES"

        df = []

        for table in tables:
            table = [cell for cell in table if cell is not None]
            if any(loop_ending_pattern in cell for cell in table):
                break
            df.append(table)

        df = pd.DataFrame(df)
        df["Date"] = str(date.today())
        df.dropna(inplace=True)
        columns = ["Date","Description", "Main Board", "Description", "GEM Board"]
        df.columns = columns
        df.replace(",", "", regex=True, inplace=True)

        return df
    except Exception as e:
        logging.error(f"Error Message: {e}")

In [95]:
pdf_file = open_pdf_file("/Volumes/PSXDatabase/psxkoyfin/scrapper/DataWarehouse/quote2024-01-26.pdf")

In [96]:
extract_page_numbers(pdf_file)

42it [00:47,  1.12s/it]

{'SECTION 1: MACRO VIEW OF THE MARKET': [1],
 'SECTION 5: BOARD MEETINGS': [30],
 'SECTION 12: ALL SHARES INDEX REPORT (SECTOR WISE)': [36, 37],
 'SECTION 13: MAIN BOARD DATA FOR THE LAST 6 MONTHS': [37]}

In [108]:

extract_macro_view([2],open_pdf_file("/Volumes/PSXDatabase/psxkoyfin/scrapper/DataWarehouse/quote2024-01-26.pdf"))

,Date,Description,Main Board,Description,GEM Board
2,No. of Listed Companies,524,No. of Listed Companies,3,2024-01-28
3,Listed Paid up Capital,1669727 M,Listed Paid up Capital,1832 M,2024-01-28
4,Market Capitalisation,9359225920149,Market Capitalisation,2043409524,2024-01-28
5,Traded Volume,412823322,Traded Volume,2500,2024-01-28
6,Traded Value,16185873014,Traded Value,25160,2024-01-28
7,Advancers,99,Advancers,0,2024-01-28
8,Decliners,221,Decliners,1,2024-01-28
9,Neutral,22,Neutral,2,2024-01-28
10,Total,342,Total,3,2024-01-28

In [35]:
def extract_event_table(targeted_pages_nums: list):
    """Extracts a table from the PDF based on the page numbers provided."""
    try:
        if len(targeted_pages_nums) == 1:
            target_table = pdf_file.pages[
                targeted_pages_nums[0] - 1
            ].extract_table()  # -1 as page numbers start from 1 not 0
            tabledf = pd.DataFrame(target_table)
            tabledf.dropna(inplace=True)
            tabledf.columns = tabledf.iloc[0]
            tabledf.drop(tabledf.index[0], inplace=True)
            df = tabledf.iloc[:, 1:]
        else:
            df = pd.DataFrame()
            print(len(targeted_pages_nums))
            for page in range(targeted_pages_nums[0] - 1, targeted_pages_nums[1]):
                extracted_table_page = pdf_file.pages[page]
                extracted_table = extracted_table_page.extract_table()
                extracted_table = pd.DataFrame(extracted_table)
                extracted_table.dropna(inplace=True)
                
                extracted_table.columns = extracted_table.iloc[0]
                extracted_table.drop(extracted_table.index[0], inplace=True)
                table = extracted_table.iloc[:, 1:]
                df = pd.concat([df, table], axis=0)
        return df
    except Exception as e:
        logging.error(f"Error Message: {e}")
    return df

In [36]:
extract_event_table([30])

1,Company,Date,Time,Place,Subject
2,Habib Sugar Mills Limited,24-Jan-2024,13:00,Karachi,1st Quarterly Accounts for the Period ended De...
3,Lucky Core Industries Limited,24-Jan-2024,14:30,Karachi,Half Yearly Accounts for the Period ended Dece...
4,Archroma Pakistan Limited,24-Jan-2024,11:15,Karachi,1st Quarterly Accounts for the Period ended De...
5,Honda Atlas Cars (Pakistan) Limited,24-Jan-2024,11:00,Karachi,3rd Quarterly Accounts for the Period ended De...
6,Gharibwal Cement Limited,24-Jan-2024,14:00,Lahore,To consider the matter other than Financial Re...
7,UBL-Funds,25-Jan-2024,11:30,Karachi,Half Yearly Accounts for the Period ended Dece...
8,Saudi Pak Leasing Company Limited,25-Jan-2024,11:00,Karachi,To consider the matter other than Financial Re...
9,Abdullah Shah Ghazi Sugar Mills Limited,25-Jan-2024,10:00,Lahore,Annual Accounts for the Period ended September...
10,Saudi Pak Leasing Company Limited,25-Jan-2024,11:00,Karachi,To consider the matter other than Financial Re...
11,Fauji Fertilizer Bin Qasim Limited,25-Jan-2024,11:00,Islamabad,Annual Accounts for the Period ended December ...
12,Siemens (Pakistan) Engineering (!),25-Jan-2024,16:00,Dubai,1st Quarterly Accounts for the Period ended De...
13,Pakistan Cables Limited,25-Jan-2024,10:00,Karachi,Half Yearly Accounts for the Period ended Dece...
14,Lucky Cement Limited,25-Jan-2024,16:30,Karachi,Half Yearly Accounts for the Period ended Dece...
15,Al-Abbas Sugar Mills Limited,25-Jan-2024,12:30,Karachi,1st Quarterly Accounts for the Period ended De...
16,Fauji Fertilizer Company Limited,26-Jan-2024,10:30,Rawalpindi,Annual Accounts for the Period ended December ...
17,Faran Sugar Mills Limited,26-Jan-2024,16:30,Karachi,1st Quarterly Accounts for the Period ended De...
18,Jauharabad Sugar Mills Limited,26-Jan-2024,11:00,Lahore,1st Quarterly Accounts for the Period ended De...
19,Atlas Honda Limited,26-Jan-2024,11:00,Karachi,3rd Quarterly Accounts for the Period ended De...
20,Tariq Corporation Limited,26-Jan-2024,14:30,Lahore,1st Quarterly Accounts for the Period ended De...
21,Gadoon Textile Mills Limited,26-Jan-2024,11:30,Karachi,Half Yearly Accounts for the Period ended Dece...
22,Mirpurkhas Sugar Mills Limited,26-Jan-2024,14:30,Mirpurkhas,1st Quarterly Accounts for the Period ended De...
23,Pakistan National Shipping Corporation,26-Jan-2024,10:30,Karachi,To consider the matter other than Financial Re...
24,Shahmurad Sugar Mills Limited,26-Jan-2024,11:00,Karachi,1st Quarterly Accounts for the Period ended De...
25,Ghani Chemical Industries Limited,27-Jan-2024,11:00,Lahore,To consider the matter other than Financial Re...
26,Mehran Sugar Mills Limited,27-Jan-2024,12:00,Karachi,1st Quarterly Accounts for the Period ended De...
27,Sanghar Sugar Mills Limited,27-Jan-2024,12:30,Karachi,1st Quarterly Accounts for the Period ended De...
28,Shahtaj Sugar Mills Limited,27-Jan-2024,11:30,Karachi,1st Quarterly Accounts for the Period ended De...
29,Ghani Global Holdings Limited,27-Jan-2024,11:45,Lahore,To consider the matter other than Financial Re...
30,Ghani Global Holdings Limited,27-Jan-2024,11:45,Lahore,To consider the matter other than Financial Re...
31,Ibrahim Fibres Limited,29-Jan-2024,11:30,Lahore,To consider the matter other than Financial Re...
32,Beco Steel Limited,29-Jan-2024,12:30,Lahore,1st Quarterly Accounts for the Period ended Se...
33,Air Link Communication Limited,29-Jan-2024,17:00,Lahore,Half Yearly Accounts for the Period ended Dece...
34,Khairpur Sugar Mills Limited,29-Jan-2024,14:30,Karachi,1st Quarterly Accounts for the Period ended De...
35,International Steels Limited,29-Jan-2024,10:00,Karachi,Half Yearly Accounts for the Period ended Dece...
36,Adam Sugar Mills Limited,29-Jan-2024,11:30,Karachi,1st Quarterly Accounts for the Period ended De...
37,Exide Pakistan Limited,29-Jan-2024,15:00,Karachi,Half Yearly Accounts for the Period ended Dece...
38,Al-Noor Sugar Mills Limited,29-Jan-2024,11:00,Karachi,1st Quarterly Accounts for the Period ended De...
39,Mari Petroleum Company Limited,29-Jan-2024,10:00,Islamabad,Half Yearly Accounts for the Period ended Dece...
40,Ansari Sugar Mills Ltd,29-Jan-2024,11:00,Karachi,3rd Quarterly Accounts for the Period ended Ju...
41,Ansari Sugar Mills Ltd,29-Jan-2024,11:00,Karachi,Half Yearly Accounts for the Period ended Marc...
42,Tandlianwala Sugar Mills Limited,29-Jan-2024,14:30,Lahore,1st Quarterly Accounts for the Period ended De...
43,JDW Sugar Mills Limited,29-Jan-2024,11:00,Lahore,1st Quarterly Accounts for the Period ended De...
44,Hinopak Motors Limited,29-Jan-2024,13:00,Karachi,3rd Quarterly Accounts for the Period ended De...
45,Ansari Sugar Mills Ltd,29-Jan-2024,11:00,Karachi,1st Quarterly Accounts for the Period ended De...
46,Baba Farid Sugar Mills Limited,29-Jan-2024,14:00,Lahore,1st Quarterly Accounts for the Period ended De...
47,The Thal Industries Corporation Limited,29-Jan-2024,12:00,Lahore,1st Quarterly Accounts for the Period ended De...
48,Colgate-Palmolive (Pakistan) Limited,29-Jan-2024,17:00,Karachi,Half Yearly Accounts for the Period ended Dece...
49,Haseeb Waqas Sugar Mills,30-Jan-2024,16:00,Lahore,1st Quarterly Accounts for the Period ended De...
50,Sakrand Sugar Mills Ltd,30-Jan-2024,16:00,Karachi,1st Quarterly Accounts for the Period ended De...
51,Noon Sugar Mills Limited,30-Jan-2024,11:30,Lahore,1st Quarterly Accounts for the Period ended De...
52,Noon Sugar Mills Limited,30-Jan-2024,11:30,Lahore,1st Quarterly Accounts for the Period ended De...
53,Sakrand Sugar Mills Ltd,30-Jan-2024,16:00,Karachi,1st Quarterly Accounts for the Period ended De...
54,International Industries Limited,30-Jan-2024,10:30,Karachi,Half Yearly Accounts for the Period ended Dece...
55,Sindh Abadgars Sugar Mills Limited,30-Jan-2024,11:00,Karachi,1st Quarterly Accounts for the Period ended De...
56,Bank AL Habib Limited,31-Jan-2024,12:30,Karachi,Annual Accounts for the Period ended December ...
57,Security Papers Limited,31-Jan-2024,11:00,Karachi,Half Yearly Accounts for the Period ended Dece...
58,Soneri Bank Limited,31-Jan-2024,10:00,Lahore,Annual Accounts for the Period ended December ...

In [37]:
def six_month_market_summary(targeted_pages_nums):
    """
    Extracts the six-month market summary from a given PDF file.
    Args:
        targeted_pages_nums (List[int]): A list of page numbers to extract tables from.
    Returns:
        pandas.DataFrame: A DataFrame containing the extracted market summary data.
    """
    try:
        tables = pdf_file.pages[targeted_pages_nums[0] - 1].extract_table()

        target_table = []
        start_appending = False
        for table in tables:
            if (
                table[0] is not None
                and "SECTION 13: MAIN BOARD DATA FOR THE LAST 6 MONTHS" in table[0]
            ):
                start_appending = True
            if start_appending:
                clean_table = [
                    cell for cell in table if cell is not None
                ]  # remove empty cells (None values)
                clean_table = [
                    re.sub(r"\s+", " ", clean_table) for clean_table in clean_table
                ]  # remove leading and trailing spaces
                target_table.append(clean_table)

                if "SECTION 14: DEFAULTER SEGMENT" in clean_table:
                    break

        df = pd.DataFrame(
            target_table,
            columns=[
                "Month at the Close",
                "Listed Capital(million)",
                "Market Capitalization(million)",
                "Turnover In Ready MRKT",
                "Turnover In Future MRKT",
                "KSE 100 Index",
                "KSE All Share",
            ],
        )
        df.dropna(inplace=True)
        df.replace(",", "", regex=True, inplace=True)
        return df
    except Exception as e:
        logging.error(f"Error Message: {e}")

In [39]:
import re

In [40]:
six_month_market_summary([37])

,Month at the Close,Listed Capital(million),Market Capitalization(million),Turnover In Ready MRKT,Turnover In Future MRKT,KSE 100 Index,KSE All Share
3,JULY,1628368.120,7231764.255,7984.831,2501.287,48034.600,32027.290
4,AUGUST,1629437.234,6715880.490,6814.516,2511.124,45002.420,30041.970
5,SEPTEMBER,1637300.480,6885570.255,3447.734,1621.924,46232.590,31158.710
6,OCTOBER,1653218.018,7551772.884,8404.818,2531.777,51920.270,34558.220
7,NOVEMBER,1656800.393,8729523.266,14056.434,3686.656,60531.270,40324.280
8,DECEMBER,1665476.972,9062902.809,21165.662,5347.305,62451.040,41916.270

In [45]:
def get_omts(file_path):
    """
           This method receives a CSV file path and splits the data into two separate pd.DataFrames.

           Parameters:
               file_path (str): CSV file path to read.

           Returns:
               df1: The first processed DataFrame containing off-market BROKER TO BROKER TRADES.
               df2: The second processed DataFrame containing CROSS TRANSACTIONS BETWEEN CLIENT TO CLIENT & FINANCIAL INSTITUTIONS
           """
    try:
        df = pd.read_csv(file_path, skip_blank_lines=True, skiprows=4)
        # Find the index of the first row where any column is NaN
        separator_index = df[df.isnull().any(axis=1)].index[0]
        # Slice the DataFrame into two separate DataFrames using this index
        df1 = df.loc[: separator_index - 1].copy()
        df2 = df.loc[separator_index + 2:].copy()  # Skip the first row directly
        df1.reset_index(
            drop=True, inplace=True
        )  # reset the index to 0,1,2 after slicing
        df2.reset_index(drop=True, inplace=True)
        df1.columns = df1.columns.str.strip()
        df2.columns = df2.columns.str.strip()
        # split the 'MEMBER CODE' column literal string search
        df1[["0", "BUYER", "2", "SELLER"]] = df1["MEMBER CODE"].str.split(
            " ", expand=True
        )
        # Drop the unnecessary columns
        df1.drop(columns=["MEMBER CODE", "0", "2"], inplace=True)
        df1 = df1[
            [
                "Date",
                "SETTLEMENT DATE",
                "BUYER",
                "SELLER",
                "SYMBOL CODE",
                "COMPANY",
                "TURNOVER",
                "RATE",
                "VALUES",
            ]
        ]  # reorder the columns
        return df1, df2
    except Exception as e:
        print(f"Error Message: {e}")

In [46]:
df1, df2 = get_omts("/Volumes/PSXDatabase/psxkoyfin/scrapper/DataWarehouse/omts2024-01-23.csv")
df1

,Date,SETTLEMENT DATE,BUYER,SELLER,SYMBOL CODE,COMPANY,TURNOVER,RATE,VALUES
0,23-Jan-24,24-Jan-24,525,145,HUBC,Hub Power Co.,500,119.14,59570

In [47]:
df2

,Date,SETTLEMENT DATE,MEMBER CODE,SYMBOL CODE,COMPANY,TURNOVER,RATE,VALUES
0,23-Jan-24,25-Jan-24,006,PIBTL,Pak Int.Bulk,150000,6.79,1018500
1,23-Jan-24,25-Jan-24,006,EFERT,Engro Fert.,3000,127.00,381000
2,23-Jan-24,25-Jan-24,006,BOP,B.O.Punjab,3500000,6.42,22470000
3,23-Jan-24,25-Jan-24,006,NCL,Nishat (Chun.),1450000,26.85,38932500
4,23-Jan-24,25-Jan-24,006,POWER,Power Cement,885000,5.43,4805550
5,23-Jan-24,25-Jan-24,006,THCCL,Thatta Cement,250000,18.30,4575000
6,23-Jan-24,25-Jan-24,050,WTL,WorldCall Telecom,5000000,1.31,6550000
7,23-Jan-24,23-Jan-24,084,ADAMS,Adam SugarXD,1000,34.00,34000
8,23-Jan-24,23-Jan-24,084,TGL,Tariq Glass Ind.,10,98.00,980
9,23-Jan-24,30-Jan-24,120,SML,Shakarganj Limited,425000,38.85,16511250
10,23-Jan-24,25-Jan-24,166,PTC,P.T.C.L.,1100000,13.67,15037000
11,23-Jan-24,25-Jan-24,187,OGDC,Oil & Gas Dev.,50000,134.94,6747000
12,23-Jan-24,25-Jan-24,187,PPL,Pak Petroleum,50000,131.01,6550500
13,23-Jan-24,25-Jan-24,194,SSGC,Sui South Gas,1500000,13.05,19575000
14,23-Jan-24,23-Jan-24,194,FTMM,F.Treet Manuf,2000,6.88,13760
15,23-Jan-24,23-Jan-24,194,PIBTL,Pak Int.Bulk,2000,6.92,13840
16,23-Jan-24,23-Jan-24,194,GAL,Ghandhara Automobile,28,74.00,2072
17,23-Jan-24,25-Jan-24,194,ANL,Azgard Nine,400000,8.25,3300000
18,23-Jan-24,25-Jan-24,194,ASL,Aisha Steel Mill,400000,8.47,3388000
19,23-Jan-24,25-Jan-24,194,FFL,Fauji Foods Ltd,1000000,11.44,11440000
20,23-Jan-24,25-Jan-24,194,PIBTL,Pak Int.Bulk,1500000,7.75,11625000
21,23-Jan-24,25-Jan-24,194,CNERGY,Cnergyico PK,500000,5.53,2765000
22,23-Jan-24,25-Jan-24,194,KEL,K-Electric Ltd.,1500000,6.54,9810000
23,23-Jan-24,25-Jan-24,194,PSO,P.S.O.,5000,183.00,915000
24,23-Jan-24,24-Jan-24,203,PIBTL,Pak Int.Bulk,8000,6.80,54400
25,23-Jan-24,25-Jan-24,984,FFL,Fauji Foods Ltd,200000,15.00,3000000

In [1]:
import execution as ex

In [16]:
df = ex.Execution().execution_by_extension()

  0%|          | 0/4 [00:00<?, ?it/s]
Extracting: 0it [00:00, ?it/s]
Extracting: 1it [00:00,  2.06it/s]
Extracting: 2it [00:00,  2.60it/s]
Extracting: 4it [00:01,  4.59it/s]
Extracting: 5it [00:02,  1.71it/s]
Extracting: 6it [00:04,  1.13it/s]
Extracting: 7it [00:05,  1.07s/it]
Extracting: 8it [00:09,  2.04s/it]
Extracting: 9it [00:11,  1.86s/it]
Extracting: 10it [00:12,  1.79s/it]
Extracting: 11it [00:14,  1.68s/it]
Extracting: 12it [00:16,  1.70s/it]
Extracting: 13it [00:17,  1.62s/it]
Extracting: 14it [00:18,  1.58s/it]
Extracting: 15it [00:20,  1.65s/it]
Extracting: 16it [00:21,  1.45s/it]
Extracting: 17it [00:22,  1.27s/it]
Extracting: 18it [00:23,  1.13s/it]
Extracting: 19it [00:24,  1.02s/it]
Extracting: 20it [00:24,  1.06it/s]
Extracting: 21it [00:25,  1.15it/s]
Extracting: 22it [00:26,  1.07it/s]
Extracting: 23it [00:27,  1.17it/s]
Extracting: 24it [00:28,  1.22it/s]
Extracting: 25it [00:28,  1.22it/s]
Extracting: 26it [00:29,  1.26it/s]
Extracting: 27it [00:30,  1.27it/s]
Extracting: 28it [00:30,  1.56it/s]
Extracting: 29it [00:31,  1.37it/s]
Extracting: 30it [00:33,  1.08it/s]
Extracting: 32it [00:33,  1.49it/s]
Extracting: 33it [00:34,  1.38it/s]
Extracting: 34it [00:35,  1.31it/s]
Extracting: 35it [00:36,  1.33it/s]
Extracting: 36it [00:37,  1.26it/s]
Extracting: 37it [00:38,  1.11it/s]
Extracting: 38it [00:39,  1.05s/it]
Extracting: 39it [00:41,  1.26s/it]
Extracting: 40it [00:42,  1.15s/it]
Extracting: 41it [00:43,  1.05s/it]
Extracting: 42it [00:43,  1.03s/it]
100%|| 4/4 [00:44<00:00, 11.12s/it]

                 Main Board        Details                GEM Board  \
2   No. of Listed Companies            524  No. of Listed Companies
3    Listed Paid up Capital      1669801 M   Listed Paid up Capital
4     Market Capitalisation  9361781557196    Market Capitalisation
5             Traded Volume      327591633            Traded Volume
6              Traded Value    14308834932             Traded Value
7                 Advancers            203                Advancers
8                 Decliners            125                Decliners
9                   Neutral             28                  Neutral
10                    Total            356                    Total

       Details
2            3
3       1832 M
4   1877609370
5            0
6            0
7            0
8            0
9            3
10           3
1                                    Company         Date   Time       Place  \
2     Pakistan National Shipping Corporation  09-Feb-2024  14:30     Karachi
3              Crescent Cotton Mills Limited  09-Feb-2024  11:00  Faisalabad
4         Al Meezan Investment Funds Limited  09-Feb-2024  14:30     Karachi
5                 Khalid Siraj Textile Mills  09-Feb-2024   9:30      Lahore
6                        Meezan Pakistan ETF  09-Feb-2024  14:30     Karachi
7                    Crescent Fibres Limited  09-Feb-2024  11:00     Karachi
8             Chakwal Spinning Mills Limited  10-Feb-2024  11:00      Lahore
9                           Agritech Limited  12-Feb-2024  10:30      Lahore
10               NetSol Technologies Limited  12-Feb-2024  14:00      Lahore
11          Ali Asghar Textile Mills Limited  12-Feb-2024  14:00     Karachi
12                    Descon Oxychem Limited  13-Feb-2024  10:00      Lahore
13             Sunrays Textile Mills Limited  13-Feb-2024  12:00     Karachi
14                       Allied Bank Limited  13-Feb-2024  11:00      Lahore
15    Pakistan Telecommunication Company Ltd  13-Feb-2024  13:30   Islamabad
16          Prosperity Weaving Mills Limited  14-Feb-2024  12:30      Lahore
17             Ellcot Spinning Mills Limited  14-Feb-2024  12:00      Lahore
18               Nagina Cotton Mills Limited  14-Feb-2024  13:00      Lahore
19     Johnson & Phillips (Pakistan) Limited  14-Feb-2024  11:00     Karachi
20                       Media Times Limited  14-Feb-2024  11:00      Lahore
21                   Pace (Pakistan) Limited  14-Feb-2024  12:00      Lahore
22             JS Global Banking Sector(ETF)  14-Feb-2024   9:30     Karachi
23              Kohat Cement Company Limited  14-Feb-2024  12:00      Lahore
24  Crescent Steel & Allied Products Limited  14-Feb-2024  10:30     Karachi
25                 Ismail Industries Limited  14-Feb-2024  11:00     Karachi
26                 JS Global Capital Limited  14-Feb-2024   9:30     Karachi
27                              OLP Modaraba  14-Feb-2024  11:00     Karachi
28                               AGP Limited  14-Feb-2024  15:00     Karachi
29             The Hub Power Company Limited  14-Feb-2024  10:00     Karachi
30   OLP Financial Services Pakistan Limited  15-Feb-2024  12:00     Karachi
31    Synthetic Products Enterprises Limited  15-Feb-2024  16:00      Lahore
32           Engro Powergen Qadirpur Limited  15-Feb-2024  10:00     Karachi
33                 Engro Fertilizers Limited  15-Feb-2024  10:30     Karachi
34                       Meezan Bank Limited  15-Feb-2024  11:00      Lahore
35   Frieslandcampina Engro Pakistan Limited  15-Feb-2024  15:00     Karachi
36        Pakistan State Oil Company Limited  15-Feb-2024  10:00     Karachi
37           Pakistan Paper Products Limited  15-Feb-2024  11:00     Karachi
38                  Cherat Packaging Limited  15-Feb-2024  11:00     Karachi
39           Habib Metropolitan Bank Limited  15-Feb-2024  15:00     Karachi
40             Cherat Cement Company Limited  16-Feb-2024  11:00     Karachi
41                   Otsuka Pakistan Limited  20-Feb-2024  10:30     Karachi
42               Indus Motor Company Limited  21-Feb-2024  16:00     Karachi
43          Ali Asghar Textile Mills Limited  23-Feb-2024  14:00     Karachi
44              Fauji Cement Company Limited  26-Feb-2024  10:00  Rawalpindi
45                   Nestle Pakistan Limited  26-Feb-2024  11:00      Lahore
46                     Olympia Mills Limited  26-Feb-2024  11:00     Karachi
47           Unilever Pakistan Foods Limited  04-Mar-2024  14:30     Karachi

1                                             Subject
2   To consider the matter other than Financial Re...
3   To consider the matter other than Financial Re...
4   Half Yearly Accounts for the Period ended Dece...
5   Half Yearly Accounts for the Period ended Dece...
6   Half Yearly Accounts for the Period ended Dece...
7   To consider the matter other than Financial Re...
8   To consider the matter other than Financial Re...
9   To consider the matter other than Financial Re...
10  Half Yearly Accounts for the Period ended Dece...
11  Half Yearly Accounts for the Period ended Dece...
12  Half Yearly Accounts for the Period ended Dece...
13  To consider the matter other than Financial Re...
14  Annual Accounts for the Period ended December ...
15  Annual Accounts for the Period ended December ...
16  Half Yearly Accounts for the Period ended Dece...
17  Half Yearly Accounts for the Period ended Dece...
18  Half Yearly Accounts for the Period ended Dece...
19  Half Yearly Accounts for the Period ended Dece...
20  Half Yearly Accounts for the Period ended Dece...
21  Half Yearly Accounts for the Period ended Dece...
22  Annual Accounts for the Period ended December ...
23  Half Yearly Accounts for the Period ended Dece...
24  Half Yearly Accounts for the Period ended Dece...
25  Half Yearly Accounts for the Period ended Dece...
26  Annual Accounts for the Period ended December ...
27  Half Yearly Accounts for the Period ended Dece...
28  Annual Accounts for the Period ended December ...
29  Half Yearly Accounts for the Period ended Dece...
30  Half Yearly Accounts for the Period ended Dece...
31  Half Yearly Accounts for the Period ended Dece...
32  Annual Accounts for the Period ended December ...
33  Annual Accounts for the Period ended December ...
34  Annual Accounts for the Period ended December ...
35  Annual Accounts for the Period ended December ...
36  Half Yearly Accounts for the Period ended Dece...
37  Half Yearly Accounts for the Period ended Dece...
38  Half Yearly Accounts for the Period ended Dece...
39  Annual Accounts for the Period ended December ...
40  Half Yearly Accounts for the Period ended Dece...
41  Half Yearly Accounts for the Period ended Dece...
42  Half Yearly Accounts for the Period ended Dece...
43  Half Yearly Accounts for the Period ended Dece...
44  Half Yearly Accounts for the Period ended Dece...
45  Annual Accounts for the Period ended December ...
46  Half Yearly Accounts for the Period ended Dece...
47  Annual Accounts for the Period ended December ...
                                 Sector Name MKT. Capitalization Rs.  \
40                      AUTOMOBILE ASSEMBLER            405969324242
41            AUTOMOBILE PARTS & ACCESSORIES             88638875495
42                  CABLE & ELECTRICAL GOODS             38490080159
43                                    CEMENT            611710352912
44                                  CHEMICAL            578834092833
45                   CLOSE - END MUTUAL FUND              3061805000
46                          COMMERCIAL BANKS           1700741509914
47                               ENGINEERING            107074813729
48                                FERTILIZER            612785657193
2              FOOD & PERSONAL CARE PRODUCTS            867912842374
3                           GLASS & CERAMICS             58707832445
4                                  INSURANCE            132236015408
5   INV. BANKS / INV. COS. / SECURITIES COS.            136395451622
6                                       JUTE               193449085
7                          LEASING COMPANIES               654798935
8                        LEATHER & TANNERIES             54668406875
9                              MISCELLANEOUS             87730272219
10                                 MODARABAS             18394846391
11           OIL & GAS EXPLORATION COMPANIES           1412720206002
12             OIL & GAS MARKETING COMPANIES            225785903098
13                             PAPER & BOARD             76435455552
14                           PHARMACEUTICALS            203007982137
15           POWER GENERATION & DISTRIBUTION            394018426960
16                                  REFINERY             99673723608
17                 SUGAR & ALLIED INDUSTRIES            100074602260
18                         SYNTHETIC & RAYON            150318963115
19                TECHNOLOGY & COMMUNICATION            280256061110
20                         TEXTILE COMPOSITE            370282625059
21                          TEXTILE SPINNING             55539925461
22                           TEXTILE WEAVING              3249618087
23                                   TOBACCO            311878360252
24                                 TRANSPORT            116366979422
25             VANASPATI & ALLIED INDUSTRIES              1389774075
26                                   WOOLLEN               218643750
27              REAL ESTATE INVESTMENT TRUST             32041972000
28                     EXCHANGE TRADED FUNDS              1036475500
29                                  PROPERTY             23285432916
30              STOCK INDEX FUTURE CONTRACTS                       0
31                          FUTURE CONTRACTS                       0
32                                     BONDS                       0
33                                    Totals           9361781557196

     Turnover Traded Value Rs.     Pre. Index     Cur. Index          N. Chg  \
40    9551214   1068511060.200      50178.170      50342.540         164.370
41    2412883     85398302.250      50710.930      52108.690        1397.760
42   22256942    515193276.880      16845.830      17191.130         345.300
43   15945741    650950666.560      56116.140      56783.800         667.660
44    4661769    131912838.730      26299.500      26456.290         156.790
45     383000      1444975.000       2149.980       2085.710         -64.270
46   20992631    883434615.280      14311.740      14518.220         206.480
47    2165362     58314153.080      33991.170      33955.180         -35.990
48    5473767    387269164.630      20074.980      20194.840         119.860
2    12358016    271001917.960      64017.400      64011.880          -5.520
3     1073473     20469575.460  240110058.470  240852645.930      742587.460
4     1007100     19947197.000      16951.550      16994.460          42.910
5     2000100     25160944.000      16063.360      15920.760        -142.600
6           0            0.000      19087.630      19087.630           0.000
7        2500        18855.000         83.070         84.410           1.340
8       36120      6435837.000      18672.890      18891.540         218.650
9      578785     28158005.220      20018.830      20425.740         406.910
10     479500      3340475.000       4249.670       4348.680          99.010
11   39402409   5669793005.870      14871.820      14702.580        -169.240
12   12330678    627713591.030      10059.770      10141.850          82.080
13     328435     11278594.360      16316.810      16329.640          12.830
14    5690313    396963011.530      23693.760      24057.730         363.970
15   52698720    841397632.200      32151.630      32756.530         604.900
16   37856896   1241149925.200      11820.290      11947.440         127.150
17     360900     11363983.000     143415.190     143371.580         -43.610
18      78400      2812614.000      89532.240      89659.860         127.620
19   30968581    803964524.980      49861.350      50193.130         331.780
20    1142551     40603933.950     100875.260     109316.180        8440.920
21    3420900     17438593.000      14629.600      14553.700         -75.900
22     485000      1757385.000       2198.000       2206.560           8.560
23        450       235800.000      73884.310      73746.880        -137.430
24   23549900    240882459.000      71527.410      72145.090         617.680
25          0            0.000      30421.380      30421.380           0.000
26       3000        69000.000       3355.140       3362.450           7.310
27     372000      5044955.000      22349.590      22355.450           5.860
28    1965100     36766249.000    3793397.580     641732.810  -\n3151664.770
29   15558497    202637816.050       8156.210       8256.050          99.840
30          0            0.000          0.000          0.000           0.000
31   93759500   4740646905.000          0.000          0.000           0.000
32      11000            0.000          0.000          0.000           0.000
33  421362133  19049481837.420

   % MKT. Cpt. % T.Cpt
40       4.336   2.916
41       0.947   0.737
42       0.411   6.794
43       6.534   4.868
44       6.183   1.423
45       0.033   0.117
46      18.167   6.408
47       1.144   0.661
48       6.546   1.671
2        9.271   3.772
3        0.627   0.328
4        1.413   0.307
5        1.457   0.611
6        0.002   0.000
7        0.007   0.001
8        0.584   0.011
9        0.937   0.177
10       0.196   0.146
11      15.090  12.028
12       2.412   3.764
13       0.816   0.100
14       2.168   1.737
15       4.209  16.087
16       1.065  11.556
17       1.069   0.110
18       1.606   0.024
19       2.994   9.453
20       3.955   0.349
21       0.593   1.044
22       0.035   0.148
23       3.331   0.000
24       1.243   7.189
25       0.015   0.000
26       0.002   0.001
27       0.342   0.114
28       0.011   0.600
29       0.249   4.749
30       0.000   0.000
31       0.000   0.000
32       0.000   0.000
33
  Month at the Close Listed Capital(million) Market Capitalization(million)  \
3             AUGUST             1629437.234                    6715880.490
4          SEPTEMBER             1637300.480                    6885570.255
5            OCTOBER             1653218.018                    7551772.884
6           NOVEMBER             1656800.393                    8729523.266

  Turnover In Ready MRKT Turnover In Future MRKT KSE 100 Index KSE All Share
3               6814.516                2511.124     45002.420     30041.970
4               3447.734                1621.924     46232.590     31158.710
5               8404.818                2531.777     51920.270     34558.220
6              14056.434                3686.656     60531.270     40324.280
File 'mkt_summary2024-02-07.Z' extracted successfully

In [19]:
import pandas as pd, logging
import pdfplumber

In [32]:
def extract_macro_view(pdf_file, targeted_pages_nums: list) -> pd.DataFrame:
    try:
        loop_ending_pattern = "PUBLICLY ISSUED DEBT SECURITIES"
        with open(pdf_file, 'r') as file:
            pdf_file  = pdfplumber.open(file)
        extracted_table = pdf_file.pages[targeted_pages_nums[0]].extract_table()
        print(extracted_table)
        all_rows = []

        for row in extracted_table:
            table = [cell for cell in row if cell is not None]
            if any(loop_ending_pattern in cell for cell in table):
                break
            all_rows.append(table)

        df = pd.DataFrame(all_rows)
        df.dropna(inplace=True) 
        df.columns = ["Main Board", "Details", "GEM Board", "Details"]
        df.replace(",", "", regex=True, inplace=True)
        return df
    except Exception as e:
        logging.error(f"Error Message: {e}")

In [67]:
from datetime import datetime

In [100]:
def extract_macro_view(pdf_file, targeted_pages_nums: list) -> pd.DataFrame:
    try:
        loop_ending_pattern = "PUBLICLY ISSUED DEBT SECURITIES"
        pdf_file = pdfplumber.open(pdf_file)
        metadaata = pdf_file.metadata
        metadaata = metadaata.get("CreationDate")[2:10]
        documents_creation_date = datetime.strptime(metadaata, "%Y%m%d").date()
        extracted_table = pdf_file.pages[targeted_pages_nums[0]-1].extract_table()
        
        all_rows = []

        for row in extracted_table:
            table = [cell for cell in row if cell is not None]
            if any(loop_ending_pattern in cell for cell in table):
                break
            all_rows.append(table)
        # print(all_rows)
        df = pd.DataFrame(all_rows)
        df.dropna(inplace=True)
        df.replace(",", "", regex=True, inplace=True)
        # print(df)
        df.columns = ["Market", "Main Board", "Details", "GEM Board"]
        df = df.T
        df.drop("Details", axis=0, inplace=True)
        df.columns = df.iloc[0]
        df.drop(df.index[0], inplace=True)
        df.insert(0, "Date", documents_creation_date)
        df
        
        return df
    except Exception as e:
        logging.error(f"Error Message: {e}")

In [101]:
df = extract_macro_view("/Volumes/PSXDatabase/psxkoyfin/DataWarehouse/quote_202407feb.pdf", [2])

In [102]:
df

Market,Date,No. of Listed Companies,Listed Paid up Capital,Market Capitalisation,Traded Volume,Traded Value,Advancers,Decliners,Neutral,Total
Main Board,2024-02-07,524,1669801 M,9361781557196,327591633,14308834932,203,125,28,356
GEM Board,2024-02-07,3,1832 M,1877609370,0,0,0,0,3,3

In [85]:
df = df.T
df.drop("Details", axis=0, inplace=True)

In [87]:
update_df.drop("Details", axis=0, inplace=True)
update_df

,2,3,4,5,6,7,8,9,10
Market,No. of Listed Companies,Listed Paid up Capital,Market Capitalisation,Traded Volume,Traded Value,Advancers,Decliners,Neutral,Total
Main Board,524,1669801 M,9361781557196,327591633,14308834932,203,125,28,356
GEM Board,3,1832 M,1877609370,0,0,0,0,3,3

In [5]:


def extract_macro_view(pdf_file_path, targeted_pages_nums: list) -> pd.DataFrame:
    try:
        loop_ending_pattern = "PUBLICLY ISSUED DEBT SECURITIES"
        
        with pdfplumber.open(pdf_file_path) as pdf_file:
            metadata = pdf_file.metadata
            creation_date_string = metadata.get("CreationDate")
            creation_date = datetime.datetime.strptime(creation_date_string[2:10], "%Y%m%d").date()

            extracted_table = pdf_file.pages[targeted_pages_nums[0] - 1].extract_table()
        
        all_rows = []

        for row in extracted_table:
            table = [cell for cell in row if cell is not None]
            if any(loop_ending_pattern in cell for cell in table):
                break
            all_rows.append(table)

        df = pd.DataFrame(all_rows)
        df.dropna(inplace=True)
        df.replace(",", "", regex=True, inplace=True)
        df.columns = ["Market", "Main Board", "Details", "GEM Board"]
        df = df.T
        df.drop("Details", axis=0, inplace=True)
        df.insert(0, "Date", creation_date)
        df.columns = df.iloc[0]
        df.drop(df.index[0], inplace=True)
        # df.reset_index(drop=True, inplace=True)
        
        return df
    except Exception as e:
        logging.error(f"Error Message: {e}")

# Example usage:
df = extract_macro_view("/Volumes/PSXDatabase/psxkoyfin/DataWarehouse/quote_202407feb.pdf", [2])

In [46]:
import logging
import datetime
import pdfplumber
import pandas as pd
import numpy as np

In [76]:
def extract_event_table(pdf_file, targeted_pages_nums: list) -> pd.DataFrame:
    """Extracts a table from the PDF based on the page numbers provided."""
    try:
        if len(targeted_pages_nums) == 1:
            target_table = pdfplumber.open(pdf_file).pages[
                targeted_pages_nums[0] - 1
            ].extract_table()  # -1 as page numbers start from 1 not 0
            tabledf = pd.DataFrame(target_table)
            tabledf.dropna(inplace=True)
            tabledf.columns = tabledf.iloc[0]
            tabledf.drop(tabledf.index[0], inplace=True)
            df = tabledf.iloc[:, 1:]
            df.insert(0, "FK", 'company_code')
            date_col = df['Date'].astype(str)
            time_col = df['Time'].astype(str)
            df['Datetime'] = date_col + ' ' + time_col
            df['Datetime'] = pd.to_datetime(df['Datetime'])
            df.drop(columns=['Date', 'Time'], inplace=True)
        else:
            df = pd.DataFrame()
            for page in range(targeted_pages_nums[0] - 1, targeted_pages_nums[1]):
                extracted_table_page = pdfplumber.open(pdf_file).pages[page]
                extracted_table = extracted_table_page.extract_table()
                extracted_table = pd.DataFrame(extracted_table)
                extracted_table.dropna(inplace=True)
                
                extracted_table.columns = extracted_table.iloc[0]
                extracted_table.drop(extracted_table.index[0], inplace=True)
                table = extracted_table.iloc[:, 1:]

                df = pd.concat([df, table], axis=0)
        return df
    except Exception as e:
        logging.error(f"Error Message: {e}")
        return pd.DataFrame()

In [77]:
df = extract_event_table("/Volumes/PSXDatabase/psxkoyfin/DataWarehouse/quote_202407feb.pdf", [30])

/var/folders/v5/clq57c8s10d3v7mfxdx4pd1w0000gn/T/ipykernel_96578/2644164307.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Datetime'] = date_col + ' ' + time_col
/var/folders/v5/clq57c8s10d3v7mfxdx4pd1w0000gn/T/ipykernel_96578/2644164307.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Datetime'] = pd.to_datetime(df['Datetime'])
/var/folders/v5/clq57c8s10d3v7mfxdx4pd1w0000gn/T/ipykernel_96578/2644164307.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Date', 'Time'], inplace=True)

In [78]:
df

1,FK,Company,Place,Subject,Datetime
2,company_code,Pakistan National Shipping Corporation,Karachi,To consider the matter other than Financial Re...,2024-02-09 14:30:00
3,company_code,Crescent Cotton Mills Limited,Faisalabad,To consider the matter other than Financial Re...,2024-02-09 11:00:00
4,company_code,Al Meezan Investment Funds Limited,Karachi,Half Yearly Accounts for the Period ended Dece...,2024-02-09 14:30:00
5,company_code,Khalid Siraj Textile Mills,Lahore,Half Yearly Accounts for the Period ended Dece...,2024-02-09 09:30:00
6,company_code,Meezan Pakistan ETF,Karachi,Half Yearly Accounts for the Period ended Dece...,2024-02-09 14:30:00
7,company_code,Crescent Fibres Limited,Karachi,To consider the matter other than Financial Re...,2024-02-09 11:00:00
8,company_code,Chakwal Spinning Mills Limited,Lahore,To consider the matter other than Financial Re...,2024-02-10 11:00:00
9,company_code,Agritech Limited,Lahore,To consider the matter other than Financial Re...,2024-02-12 10:30:00
10,company_code,NetSol Technologies Limited,Lahore,Half Yearly Accounts for the Period ended Dece...,2024-02-12 14:00:00
11,company_code,Ali Asghar Textile Mills Limited,Karachi,Half Yearly Accounts for the Period ended Dece...,2024-02-12 14:00:00
12,company_code,Descon Oxychem Limited,Lahore,Half Yearly Accounts for the Period ended Dece...,2024-02-13 10:00:00
13,company_code,Sunrays Textile Mills Limited,Karachi,To consider the matter other than Financial Re...,2024-02-13 12:00:00
14,company_code,Allied Bank Limited,Lahore,Annual Accounts for the Period ended December ...,2024-02-13 11:00:00
15,company_code,Pakistan Telecommunication Company Ltd,Islamabad,Annual Accounts for the Period ended December ...,2024-02-13 13:30:00
16,company_code,Prosperity Weaving Mills Limited,Lahore,Half Yearly Accounts for the Period ended Dece...,2024-02-14 12:30:00
17,company_code,Ellcot Spinning Mills Limited,Lahore,Half Yearly Accounts for the Period ended Dece...,2024-02-14 12:00:00
18,company_code,Nagina Cotton Mills Limited,Lahore,Half Yearly Accounts for the Period ended Dece...,2024-02-14 13:00:00
19,company_code,Johnson & Phillips (Pakistan) Limited,Karachi,Half Yearly Accounts for the Period ended Dece...,2024-02-14 11:00:00
20,company_code,Media Times Limited,Lahore,Half Yearly Accounts for the Period ended Dece...,2024-02-14 11:00:00
21,company_code,Pace (Pakistan) Limited,Lahore,Half Yearly Accounts for the Period ended Dece...,2024-02-14 12:00:00
22,company_code,JS Global Banking Sector(ETF),Karachi,Annual Accounts for the Period ended December ...,2024-02-14 09:30:00
23,company_code,Kohat Cement Company Limited,Lahore,Half Yearly Accounts for the Period ended Dece...,2024-02-14 12:00:00
24,company_code,Crescent Steel & Allied Products Limited,Karachi,Half Yearly Accounts for the Period ended Dece...,2024-02-14 10:30:00
25,company_code,Ismail Industries Limited,Karachi,Half Yearly Accounts for the Period ended Dece...,2024-02-14 11:00:00
26,company_code,JS Global Capital Limited,Karachi,Annual Accounts for the Period ended December ...,2024-02-14 09:30:00
27,company_code,OLP Modaraba,Karachi,Half Yearly Accounts for the Period ended Dece...,2024-02-14 11:00:00
28,company_code,AGP Limited,Karachi,Annual Accounts for the Period ended December ...,2024-02-14 15:00:00
29,company_code,The Hub Power Company Limited,Karachi,Half Yearly Accounts for the Period ended Dece...,2024-02-14 10:00:00
30,company_code,OLP Financial Services Pakistan Limited,Karachi,Half Yearly Accounts for the Period ended Dece...,2024-02-15 12:00:00
31,company_code,Synthetic Products Enterprises Limited,Lahore,Half Yearly Accounts for the Period ended Dece...,2024-02-15 16:00:00
32,company_code,Engro Powergen Qadirpur Limited,Karachi,Annual Accounts for the Period ended December ...,2024-02-15 10:00:00
33,company_code,Engro Fertilizers Limited,Karachi,Annual Accounts for the Period ended December ...,2024-02-15 10:30:00
34,company_code,Meezan Bank Limited,Lahore,Annual Accounts for the Period ended December ...,2024-02-15 11:00:00
35,company_code,Frieslandcampina Engro Pakistan Limited,Karachi,Annual Accounts for the Period ended December ...,2024-02-15 15:00:00
36,company_code,Pakistan State Oil Company Limited,Karachi,Half Yearly Accounts for the Period ended Dece...,2024-02-15 10:00:00
37,company_code,Pakistan Paper Products Limited,Karachi,Half Yearly Accounts for the Period ended Dece...,2024-02-15 11:00:00
38,company_code,Cherat Packaging Limited,Karachi,Half Yearly Accounts for the Period ended Dece...,2024-02-15 11:00:00
39,company_code,Habib Metropolitan Bank Limited,Karachi,Annual Accounts for the Period ended December ...,2024-02-15 15:00:00
40,company_code,Cherat Cement Company Limited,Karachi,Half Yearly Accounts for the Period ended Dece...,2024-02-16 11:00:00
41,company_code,Otsuka Pakistan Limited,Karachi,Half Yearly Accounts for the Period ended Dece...,2024-02-20 10:30:00
42,company_code,Indus Motor Company Limited,Karachi,Half Yearly Accounts for the Period ended Dece...,2024-02-21 16:00:00
43,company_code,Ali Asghar Textile Mills Limited,Karachi,Half Yearly Accounts for the Period ended Dece...,2024-02-23 14:00:00
44,company_code,Fauji Cement Company Limited,Rawalpindi,Half Yearly Accounts for the Period ended Dece...,2024-02-26 10:00:00
45,company_code,Nestle Pakistan Limited,Lahore,Annual Accounts for the Period ended December ...,2024-02-26 11:00:00
46,company_code,Olympia Mills Limited,Karachi,Half Yearly Accounts for the Period ended Dece...,2024-02-26 11:00:00
47,company_code,Unilever Pakistan Foods Limited,Karachi,Annual Accounts for the Period ended December ...,2024-03-04 14:30:00

In [ ]:
import pandas as pd

from finapp.psxkoyfin.models import (
                                    Country, City, CountryExchange, CountryExchangeSector,
                                    SectorStock, SectorStockinfo, SixMonthSummary, EventSummary,
                                    MacroView, IndexComposition, SectorSummary, OffMarketBroker,
                                    OffMarketClient, FutureOpenInterest, DailyStockData,
                                    )


def insert_data_from_dataframes(dataframes):
    for df_name, df in dataframes.items():
        if df_name == 'Country':
            for _, row in df.iterrows():
                country = Country.objects.create(
                    country_name=row['country_name'],
                    country_status=row['country_status']
                )
                print(f"Inserted {country} into Country model")
        elif df_name == 'City':
            for _, row in df.iterrows():
                country_id = row['country_id']  # Assuming you have country_id in the DataFrame
                country = Country.objects.get(pk=country_id)
                city = City.objects.create(
                    city_name=row['city_name'],
                    country=country,
                    added_datetime=row['added_datetime']
                )
                print(f"Inserted {city} into City model")
        elif df_name == 'CountryExchange':
            for _, row in df.iterrows():
                country_id = row['country_id']  # Assuming you have country_id in the DataFrame
                country = Country.objects.get(pk=country_id)
                country_exchange = CountryExchange.objects.create(
                    country_exchange_symbol=row['country_exchange_symbol'],
                    country_exchange_name=row['country_exchange_name'],
                    country_exchange_status=row['country_exchange_status'],
                    added_datetime=row['added_datetime'],
                    country=country
                )
                print(f"Inserted {country_exchange} into CountryExchange model")
        elif df_name == 'CountryExchangeSector':
            for _, row in df.iterrows():
                country_exchange_id = row['country_exchange_id']  # Assuming you have country_exchange_id in the DataFrame
                country_exchange = CountryExchange.objects.get(pk=country_exchange_id)
                country_exchange_sector = CountryExchangeSector.objects.create(
                    sector_code=row['sector_code'],
                    sector_name=row['sector_name'],
                    added_datetime=row['added_datetime'],
                    country_exchange=country_exchange
                )
                print(f"Inserted {country_exchange_sector} into CountryExchangeSector model")
        elif df_name == 'SectorStock':
            for _, row in df.iterrows():
                exchange_sector_id = row['exchange_sector_id']  # Assuming you have exchange_sector_id in the DataFrame
                exchange_sector = CountryExchangeSector.objects.get(pk=exchange_sector_id)
                sector_stock = SectorStock.objects.create(
                    stock_symbol=row['stock_symbol'],
                    stock_name=row['stock_name'],
                    stock_status=row['stock_status'],
                    added_datetime=row['added_datetime'],
                    exchange_sector=exchange_sector
                )
                print(f"Inserted {sector_stock} into SectorStock model")
        elif df_name == 'SectorStockinfo':
            for _, row in df.iterrows():
                stock_id = row['stock_id']  # Assuming you have stock_id in the DataFrame
                stock = SectorStock.objects.get(pk=stock_id)
                sector_stockinfo = SectorStockinfo.objects.create(
                    stock=stock,
                    face_value=row['face_value'],
                    lot_size=row['lot_size'],
                    registered_date=row['registered_date'],
                    year_end_date=row['year_end_date'],
                    number_of_shares=row['number_of_shares'],
                    free_float_shares=row['free_float_shares'],
                    percentage_free_float_shares=row['percentage_free_float_shares'],
                    number_of_shareholder=row['number_of_shareholder']
                )
                print(f"Inserted {sector_stockinfo} into SectorStockinfo model")
        elif df_name == 'MacroView':
            for _, row in df.iterrows():
                country_exchange_id = row['country_exchange_id']  # Assuming you have country_exchange_id in the DataFrame
                country_exchange = CountryExchange.objects.get(pk=country_exchange_id)
                macro_view = MacroView.objects.create(
                    market=row['market'],
                    date=row['date'],
                    num_listed_companies=row['num_listed_companies'],
                    listed_paid_up_capital=row['listed_paid_up_capital'],
                    market_capitalization=row['market_capitalization'],
                    traded_volume=row['traded_volume'],
                    advancers=row['advancers'],
                    decliners=row['decliners'],
                    neutral=row['neutral'],
                    total=row['total'],
                    country_exchange=country_exchange
                )
                print(f"Inserted {macro_view} into MacroView model")
        elif df_name == 'EventSummary':
            for _, row in df.iterrows():
                sector_stock_id = row['sector_stock_id']  # Assuming you have sector_stock_id in the DataFrame
                sector_stock = SectorStock.objects.get(pk=sector_stock_id)
                city_id = row['city_id']  # Assuming you have city_id in the DataFrame
                city = City.objects.get(pk=city_id)
                event_summary = EventSummary.objects.create(
                    sector_stock=sector_stock,
                    date_time=row['date_time'],
                    city=city,
                    subject=row['subject']
                )
                print(f"Inserted {event_summary} into EventSummary model")

# Assuming you have a dictionary of DataFrames where keys are the model names
# and values are the corresponding DataFrames
dataframes = {
    'Country': country_df,
    'City': city_df,
    'CountryExchange': country_exchange_df,
    'CountryExchangeSector': country_exchange_sector_df,
    'SectorStock': sector_stock_df,
    'SectorStockinfo': sector_stockinfo_df,
    'MacroView': macro_view_df,
    'EventSummary': event_summary_df
}

# Call the function to insert data into models
insert_data_from_dataframes(dataframes)